<a href="https://colab.research.google.com/github/khuloodnasher/HAppy-Coding-Hour/blob/master/Happy_CodingPython_Hour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Suppose you have a list of the folllowing numbers [1,2,3,2,4,3,3,4,2] how you can define a function to get the number of the duplicates

In [ ]:
# Python code to count the number of occurrences 
def countX(lst, x): 
    num = 0
    for ele in lst: 
        if (ele == x): 
            num = num + 1
    return num

In [ ]:
#calling the function
num_list= [1,2,3,2,4,3,3,4,2]
x = 2
countX(num_list, x)

3

In [ ]:
# Python code to count the number of occurrences 
def countX(lst, x): 
    num = 0
    for ele in lst: 
        if (ele == x): 
            num = num + 1
    return num 
  
# Driver Code 
num_list= [1,2,3,2,4,3,3,4,2]
x = 4
print('{} has occurred {} times'.format(x, countX(num_list, x)))

4 has occurred 2 times

In [ ]:
num_list = [1, 2, 2, 3, 4, 3, 4,6,6,3]  


def duplicate(items,a):
	
	return items.count(a)

In [ ]:
duplicate(num_list,4)

2

Method 2 (Using Counter())

Counter method returns a dictionary with occurrences of all elements as a 

key-value pair, where key is the element and value is the number of times 

that element has occurred.

In [ ]:
from collections import Counter
num_list= [1, 1, 2, 2, 3, 3, 4, 4, 5, 5] 

numoccoured=Counter(num_list)
num=4
print('{} has occoured {} times'.format(num,numoccoured[num]))

4 has occoured 2 times

In [ ]:
from collections import Counter 

# declaring the list 
l = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5] 

# driver program 
x = 3
d = Counter(l) 
print('{} has occurred {} times'.format(x, d[x]))

 Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [ ]:
  result=[]
  for num in range(1500,2701):
   
   if (num%5==0) and (num%7==0):
     result.append(str(num))
print (','.join(result))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [ ]:
num7(1500)

In [ ]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

 Write a Python program to convert temperatures to and from celsius, fahrenheit.

Let’s see the conversion formulas to convert temperature in degree Celsius to degree Fahrenheit and vice versa.

Celsius = (Fahrenheit – 32) * 5/9

Fahrenheit = (Celsius * 9/5) + 32

In [ ]:
# from celsuis to fahrenhite
celsius=float(input('Enter temperature in celsius:'))
fahrenheit = (celsius * 9/5) + 32
print("%.2f celsius is: %.2f Fahrenhite" %(celsius,fahrenheit))

Enter temperature in celsius:73
73.00 celsius is: 163.40 Fahrenhite

In [ ]:
# from Fahrenhite to celsius
fahrenheit=float(input('Enter temprature in fahrenheit:'))
celsius = (fahrenheit- 32) * 5/9
print("%.2f Fahrenheit is: %.2f celsius " % (fahrenheit,celsius))

Enter temprature in fahrenheit:100
100.00 Fahrenheit is: 37.78 celsius

#### Write a Python program that accepts a word from the user and reverse it.

In [ ]:
# Python code to reverse a string  
# using extended slice syntax 
  
# Function to reverse a string 
def reverse(string): 
    string = string[::-1] 
    return string

check the ages of 10 random people above 35 years
age =[25,45,30,59,20,55,81,65]

In [10]:
age =[25,45,30,59,20,55,81,65]

def check_age(age):
   return  age>35
   
result=list(filter(check_age,age))
print(result)

[45, 59, 55, 81, 65]

checking if a word is palindrome or not .A 'palindrome' is a word that reads the same forward as backword

In [15]:
pal_names=('dad','mam','auto','science','madam','data')
palindromes=list(filter(lambda word:word==word[::-1],pal_names))
print(palindromes)

['dad', 'mam', 'madam']

In [ ]:
number

Coding (Python)
1) FizzBuzz. Print numbers from 1 to 100

If it’s a multiplier of 3, print “Fizz”
If it’s a multiplier of 5, print “Buzz”
If both 3 and 5 — “Fizz Buzz”
Otherwise, print the number itself
Example of output: 1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, Fizz Buzz, 16, 17, Fizz, 19, Buzz, Fizz, 22, 23, Fizz, Buzz, 26, Fizz, 28, 29, Fizz Buzz, 31, 32, Fizz, 34, Buzz, Fizz, …

In [10]:
for i in range(1,101):
  if i%3==0:
    print('Fizz')
  elif i % 5 == 0:
     print( 'Buzz' )
  elif i%5==0 and i%3==0:
    print('Fizz Buzz' )
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [14]:
def factorial(n: int):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [18]:
factorial(4)

24

In [16]:
def factorial(n): 
    if n < 0: 
        return 0
    elif n == 0 or n == 1: 
        return 1
    else: 
        fact = 1
        while n>1:
            fact *= n 
            n -= 1
        return fact

In [17]:
factorial(3)

6

In [14]:
def factorial(n):
  if n==1 or n==0:
    return 1
  elif n<0:
    return 0
  else:
    fact=1
    while (n>1):
      fact*=n
      n-=1
    return fact

In [15]:
factorial(3)

6

We can also write this function using recursion:

In [ ]:


def factorial(n: int):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [18]:
def factoroal(n:int):
  if n==0 or n==1:
    return 1
  else:
    return n* factorial (n-1)

In [19]:
factorial(4)

24

In [11]:
def factorial(n):# multiplication problem always result=1, addition problem result=0
  if n>1:
    result=1
  for i in range(1,n+1):
    result=result*i
  return result
factorial(4)

24

In [8]:
# Factorial of a number
def factorial_num(num):
    fact = 1
    if num < 0:
        print("Enter positive number")
    elif num == 0:
        print("Factorial of 0 is 1")
    else:
        for i in range(1,num+1):
            fact =  fact * i
        print("Factorial of a number is : ", fact)

In [9]:
factorial_num(4)

Factorial of a number is :  24

3) Mean. Compute the mean of number in a list

mean([4, 36, 45, 50, 75]) = 42
mean([]) = NaN (use float('NaN'))

In [23]:
def compute_mean(num_list):

  for i in num_list:
    mean=sum(num_list)/len(num_list)
    return mean

In [24]:
num_list1=[4, 36, 45, 50, 75]
compute_mean(num_list1)

42.0

In [20]:
num_list1=[4, 36, 45, 50, 75]
def mean(numbers):
    if len(numbers) > 0:
        return sum(numbers) / len(numbers)
mean(num_list1)

42.0

In [20]:
from math import sqrt

def std_dev(numbers):
    if len(numbers) > 0:
        avg = mean(numbers)
        var = sum([(i - avg) ** 2 for i in numbers]) / len(numbers)
        ans = sqrt(var)
        return ans
    return float('NaN')

In [21]:
std_dev([100,20,30])

NameError: ignored