<a href="https://colab.research.google.com/github/khuloodnasher/HAppy-Coding-Hour/blob/master/Happy_CodingPython_Hour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Suppose you have a list of the folllowing numbers [1,2,3,2,4,3,3,4,2] how you can define a function to get the number of the duplicates

In [ ]:
# Python code to count the number of occurrences 
def countX(lst, x): 
    num = 0
    for ele in lst: 
        if (ele == x): 
            num = num + 1
    return num

In [ ]:
#calling the function
num_list= [1,2,3,2,4,3,3,4,2]
x = 2
countX(num_list, x)

3

In [ ]:
# Python code to count the number of occurrences 
def countX(lst, x): 
    num = 0
    for ele in lst: 
        if (ele == x): 
            num = num + 1
    return num 
  
# Driver Code 
num_list= [1,2,3,2,4,3,3,4,2]
x = 4
print('{} has occurred {} times'.format(x, countX(num_list, x)))

4 has occurred 2 times

In [ ]:
num_list = [1, 2, 2, 3, 4, 3, 4,6,6,3]  


def duplicate(items,a):
	
	return items.count(a)

In [ ]:
duplicate(num_list,4)

2

Method 2 (Using Counter())

Counter method returns a dictionary with occurrences of all elements as a 

key-value pair, where key is the element and value is the number of times 

that element has occurred.

In [ ]:
from collections import Counter
num_list= [1, 1, 2, 2, 3, 3, 4, 4, 5, 5] 

numoccoured=Counter(num_list)
num=4
print('{} has occoured {} times'.format(num,numoccoured[num]))

4 has occoured 2 times

In [ ]:
from collections import Counter 

# declaring the list 
l = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5] 

# driver program 
x = 3
d = Counter(l) 
print('{} has occurred {} times'.format(x, d[x]))

 Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [ ]:
  result=[]
  for num in range(1500,2701):
   
   if (num%5==0) and (num%7==0):
     result.append(str(num))
print (','.join(result))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [ ]:
num7(1500)

In [ ]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

 Write a Python program to convert temperatures to and from celsius, fahrenheit.

Let’s see the conversion formulas to convert temperature in degree Celsius to degree Fahrenheit and vice versa.

Celsius = (Fahrenheit – 32) * 5/9

Fahrenheit = (Celsius * 9/5) + 32

In [ ]:
# from celsuis to fahrenhite
celsius=float(input('Enter temperature in celsius:'))
fahrenheit = (celsius * 9/5) + 32
print("%.2f celsius is: %.2f Fahrenhite" %(celsius,fahrenheit))

Enter temperature in celsius:73
73.00 celsius is: 163.40 Fahrenhite

In [ ]:
# from Fahrenhite to celsius
fahrenheit=float(input('Enter temprature in fahrenheit:'))
celsius = (fahrenheit- 32) * 5/9
print("%.2f Fahrenheit is: %.2f celsius " % (fahrenheit,celsius))

Enter temprature in fahrenheit:100
100.00 Fahrenheit is: 37.78 celsius

#### Write a Python program that accepts a word from the user and reverse it.

In [ ]:
# Python code to reverse a string  
# using extended slice syntax 
  
# Function to reverse a string 
def reverse(string): 
    string = string[::-1] 
    return string

check the ages of 10 random people above 35 years
age =[25,45,30,59,20,55,81,65]

In [ ]:
age =[25,45,30,59,20,55,81,65]

def check_age(age):
   return  age>35
   
result=list(filter(check_age,age))
print(result)

[45, 59, 55, 81, 65]

checking if a word is palindrome or not .A 'palindrome' is a word that reads the same forward as backword

In [ ]:
pal_names=('dad','mam','auto','science','madam','data')
palindromes=list(filter(lambda word:word==word[::-1],pal_names))
print(palindromes)

['dad', 'mam', 'madam']

In [ ]:
number

Coding (Python)
1) FizzBuzz. Print numbers from 1 to 100

If it’s a multiplier of 3, print “Fizz”
If it’s a multiplier of 5, print “Buzz”
If both 3 and 5 — “Fizz Buzz”
Otherwise, print the number itself
Example of output: 1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, Fizz Buzz, 16, 17, Fizz, 19, Buzz, Fizz, 22, 23, Fizz, Buzz, 26, Fizz, 28, 29, Fizz Buzz, 31, 32, Fizz, 34, Buzz, Fizz, …

In [ ]:
for i in range(1,101):
  if i%3==0:
    print('Fizz')
  elif i % 5 == 0:
     print( 'Buzz' )
  elif i%5==0 and i%3==0:
    print('Fizz Buzz' )
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
def factorial(n: int):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [ ]:
factorial(4)

24

In [ ]:
def factorial(n): 
    if n < 0: 
        return 0
    elif n == 0 or n == 1: 
        return 1
    else: 
        fact = 1
        while n>1:
            fact *= n 
            n -= 1
        return fact

In [ ]:
factorial(3)

6

In [ ]:
def factorial(n):
  if n==1 or n==0:
    return 1
  elif n<0:
    return 0
  else:
    fact=1
    while (n>1):
      fact*=n
      n-=1
    return fact

In [ ]:
factorial(3)

6

We can also write this function using recursion:

In [ ]:


def factorial(n: int):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [ ]:
def factoroal(n:int):
  if n==0 or n==1:
    return 1
  else:
    return n* factorial (n-1)

In [ ]:
factorial(4)

24

In [ ]:
def factorial(n):# multiplication problem always result=1, addition problem result=0
  if n>1:
    result=1
  for i in range(1,n+1):
    result=result*i
  return result
factorial(4)

24

In [ ]:
# Factorial of a number
def factorial_num(num):
    fact = 1
    if num < 0:
        print("Enter positive number")
    elif num == 0:
        print("Factorial of 0 is 1")
    else:
        for i in range(1,num+1):
            fact =  fact * i
        print("Factorial of a number is : ", fact)

In [ ]:
factorial_num(4)

Factorial of a number is :  24

3) Mean. Compute the mean of number in a list

mean([4, 36, 45, 50, 75]) = 42
mean([]) = NaN (use float('NaN'))

In [ ]:
def compute_mean(num_list):

  for i in num_list:
    mean=sum(num_list)/len(num_list)
    return mean

In [ ]:
num_list1=[4, 36, 45, 50, 75]
compute_mean(num_list1)

42.0

In [ ]:
num_list1=[4, 36, 45, 50, 75]
def mean(numbers):
    if len(numbers) > 0:
        return sum(numbers) / len(numbers)
mean(num_list1)

42.0

STD. Calculate the standard deviation of elements in a list.

std([1, 2, 3, 4]) = 1.29
std([1]) = NaN
std([]) = NaN

In [ ]:
from math import sqrt

def std_dev(numbers):
    if len(numbers) > 0:
        avg = sum(numbers)/len(numbers)
        var = sum([(i - avg) ** 2 for i in numbers]) / len(numbers)
        ans = sqrt(var)
        return ans
    return float('NaN')

In [ ]:
std_dev([1, 2, 3, 4])

1.118033988749895

In [ ]:
from math import sqrt

def std_dev(numbers):
    if len(numbers) > 0:
        avg = sum(numbers)/len(numbers)
        var = sum([(i - avg) ** 2 for i in numbers]) / len(numbers)
        ans = sqrt(var)
        return ans
    return float('NaN')

In [ ]:
from platform import python

ImportError: ignored

In [ ]:
from math import sqrt
def std_computing(num_list):
  if len(num_list)>0:
    mean=sum(num_list)/len(num_list)
    var= sum([(i-mean)**2 for i in num_list])/len(num_list)
    std=sqrt(var)
    return std

  return float('NaN')

In [ ]:
std_computing([1, 2, 3, 4])

1.118033988749895

RMSE. Calculate the RMSE (root mean squared error) of a model. The function takes in two lists: one with actual values, one with predictions.

rmse([1, 2], [1, 2]) = 0
rmse([1, 2, 3], [3, 2, 1]) = 1.63

In [ ]:
import math
def compute_rmse(y_true, y_pred):
  assert len(y_true)== len(y_pred),'different length'
  squares = sum((x - y)**2 for x, y in zip(y_true, y_pred))

  #squares =sum((x-y)**2 for x,y in zip(y_true, y_pred))
  return math.sqrt(squares / len(y_true))

In [ ]:
compute_rmse([1, 2, 3], [3, 2, 1])

1.632993161855452

In [ ]:
import math

def rmse(y_true, y_pred):
    assert len(y_true) == len(y_pred), 'different sizes of the arguments'
    squares = sum((x - y)**2 for x, y in zip(y_true, y_pred))
    return math.sqrt(squares / len(y_true))

In [ ]:
rmse([1, 2, 3], [3, 2, 1])

1.632993161855452

6) Remove duplicates. Remove duplicates in list. The list is not sorted and the order of elements from the original list should be preserved.

[1, 2, 3, 1] ⇒ [1, 2, 3]
[1, 3, 2, 1, 5, 3, 5, 1, 4] ⇒ [1, 3, 2, 5, 4]

In [ ]:
def remove_duplicates(numbers_list):
  result=[]
  for num in numbers_list:
   if  num.count==1:
     return result.append(num)
  
  else: 
      return 'number is duplicated'

In [ ]:
remove_duplicates([1, 3, 2, 1, 5, 3, 5, 1, 4] )

AttributeError: ignored

In [ ]:
def remove_duplicates(lst):
    new_list = []
    mentioned_values = set()
    for elem in lst:
        if elem not in mentioned_values:
            new_list.append(elem)
            mentioned_values.add(elem)
    return new_list

In [ ]:
remove_duplicates([1, 3, 2, 1, 5, 3, 5, 1, 4])

[1, 3, 2, 5, 4]

7) Count. Count how many times each element in a list occurs.

[1, 3, 2, 1, 5, 3, 5, 1, 4] ⇒

1: 3 times
2: 1 time
3: 2 times
4: 1 time
5: 2 times

In [ ]:
from collections import Counter
numbers = [1, 3, 2, 1, 5, 3, 5, 1, 4]
Counter(numbers)

Counter({1: 3, 2: 1, 3: 2, 4: 1, 5: 2})

In [ ]:
def duplicate_count(num, num_list):
  result=[]
  for num in num_list:
    if count(num)>0:
       result.append(num)

    return set(result)
  else: 
    count(num)==0:
 print('num is not frequent')

SyntaxError: ignored

In [ ]:
numbers = [1, 3, 2, 1, 5, 3, 5, 1, 4]
# Python code to count the number of occurrences 
def countX(lst, x): 
    num = 0
    for ele in lst: 
        if (ele == x): 
            num = num + 1
    return num 
  
# Driver Code 
numbers = [1, 3, 2, 1, 5, 3, 5, 1, 4]
x = 1
print('{} has occurred {} times'.format(x, countX(numbers, x)))

1 has occurred 3 times

8) Palindrome. Is string a palindrome? A palindrome is a word which reads the same backward as forwards.

“ololo” ⇒ Yes
“cafe” ⇒ No

In [ ]:
def pailindrome(lst):
  word=[]
  for text in lst:
    if lst[::-1]==lst[1::]:
      word.append(text)

In [ ]:
word_list=['mam','dad','coco','some']
pailindrome(word_list)

In [ ]:
def isPalindrome(s):
    return s == s[::-1]
# Driver code
s = "malayalam"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Yes

In [ ]:
# function which return reverse of a string
 
def isPalindrome(s):
    return s == s[::-1]
 
 
# Driver code
s = "malayalam"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

In [ ]:
word_list=('mam','dad','jenia')
is_palindrome(word_list)

False

In [ ]:
pal_names=('dad','mam','auto','science','madam','data')
palindromes=list(filter(lambda word:word==word[::-1],pal_names))
print(palindromes)

['dad', 'mam', 'madam']

Counter. We have a list with identifiers of form “id-SITE”. Calculate how many ids we have per site.

In [ ]:
def count_identifier(id,str_lst):
  result={}
  for str in enumerate(id,str_lst):
    if id>0:
      result.append(id,str_lst)
  return result

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

In [ ]:
dict={ 'site': 'id'}

In [ ]:
def count_num(num_lst):
   return set([num for num in num_lst if num_lst.count(num)>1])# set make it unique , count is amethod connected to list, the list is only passed in func
   #to know the number of occurence

In [ ]:
numlist=[1,1,1,2,3,3,4,4,4]
count_num(numlist)

{1, 3, 4}

In [ ]:
def count_num(num_lst):
  result=[]
  for num in num_lst:
    if num_lst.count(num)>1 and num not in result:
      result.append(num)
  return result

In [ ]:
numlist1=[1,1,1,2,3,3,4,4,4]

count_num(numlist1)

[1, 3, 4]

In [ ]:
list1=[1,2,3,4]
list2=[5,6,7,8]
print(len(list1+list2))

8

In [ ]:
# counting the frequency of website ids
def new_list(ids):
  res=[]
  for i in ids:
    id=i[-2:]
    res.append(id)
  print(res)

In [ ]:

new_list(['xgc89nmam8so3-ID', 'oo702mi2p5r2-IN','g80cj19c12p-IN','jcb4ozn87q63-PL','5kdkfo-UA','xgcc89nmam8so3-ID','5kgdkfo-UA','5knnkfo-UA'])

['ID', 'IN', 'IN', 'PL', 'UA']

In [ ]:
def new_list(ids):
    res = []
    for i in ids:
        id = i[-2:]
        res.append(id)
    #print(res)
    result = {}
    for x in res:
        result[x] = res.count(x)
    return result

In [ ]:
new_list(['xgc89nmam8so3-ID', 'oo702mi2p5r2-IN','g80cj19c12p-IN','jcb4ozn87q63-PL','5kdkfo-UA','xgcc89nmam8so3-ID','5kgdkfo-UA','5knnkfo-UA'])

{'ID': 2, 'IN': 2, 'PL': 1, 'UA': 3}

In [ ]:
#list comprehension
def new_func(ids):
    return {id: [i[-2:] for i in ids].count(id) for id in [i[-2:] for i in ids]}

In [ ]:
# 'aaaabbbcca' ⇒ [('a', 4), ('b', 3), ('c', 2), ('a', 1)]
def count_alpha(alpha):
    new_res={}
    for x in alpha:
        new_res[x] = alpha.count(x)
    return new_res
count_alpha('aaaabbbcca')

{'a': 5, 'b': 3, 'c': 2}

In [ ]:
def count(s):# i have string so i will pass a list, all i need dict , key is char, value is count

  new_res={}
  for x in s:
    new_res[x]=s.count(x)
  return new_res

In [ ]:
count('aaaabbbcca')

{'a': 5, 'b': 3, 'c': 2}

In [ ]:
name = "Khulood"
age = 18
work = True

In [ ]:
age == "18"

False

In [ ]:
info = ["Khulood", 18, True]
info[2]

True

In [ ]:
info = {
    "name": "Khulood",
    "age": 18,
    "work": True
}
info

{'age': 18, 'name': 'Khulood', 'work': True}

In [ ]:
if age >= 18:
  print("Adult")
else:
  print("Young")
# switch

Adult

In [ ]:
# for
# while

In [ ]:
from functools import reduce
numbers = [3, 4, 6, 9, 10, 12]
def abc(a, b):
    return a * b
result = reduce(abc, numbers)
print(result)

77760

In [ ]:
# reverse string
str1 = "Khulood"
for char in str1[::-1]:
  print(char)

d
o
o
l
u
h
K

In [ ]:
str1 = "Khulood"
c =0
l = len(str1)
for x in range(l):
  print(f"{x}= {l-x-1} {str1[l-x-1]}")

0= 6 d
1= 5 o
2= 4 o
3= 3 l
4= 2 u
5= 1 h
6= 0 K

In [ ]:
len(str)

7

In [ ]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "im happy"
x = re.search("^im happy.$", txt) # ^ start with, $ end with without space '. ' include one litter or zero litter * zero litter or anythig like sentence
# + one liter or more

if x:
  print("YES! We have a match!")
else:
  print("No match")

No match

In [ ]:
# interview question plot christmas tree
def triangleShape(n):
    for i in range(n):# for plotting first row so i=zero
        for j in range(n-i):# j for making spaces it is placeholder j=4-0=4 so the first star will be after 4 spaces or placeholders
            print(' ', end=' ') # print space so first print at i=0, will be four spaces
        for k in range(2*i+1):# the second four loop to count t😏he number of stars when i=0, it will print first star
            print('*',end=' ') # print stars
        print() # getting next line
triangleShape(4)# when i=0, print one star, i=1 print three stars, i=2 print 5 stars, i=3 print 7 stars because 2*i+1

        *
      * * *
    * * * * *
  * * * * * * *

In [ ]:
def draw_chrismas(num):
  for i in range(num):
    for j in range(num-i):
      print (' ',end=' ')
    for k in range(2*i+1):
        print('*', end=' ')
    
    print()

In [ ]:
draw_chrismas(4)

        *
      * * *
    * * * * *
  * * * * * * *

#Puzle Question: how to do 24 out of 8,8,3,3
Ans:  Since i know that 8*3 =24, i got do something the same but in diffiret look so i need to have 3 to be dominator of dominator the best way:
8/(3-8/3), I know 3= 9/3 so 9/3-8/3=1/3

In [ ]:
# define a function that calculate prime number

def is_prime(num):
  if num%2==0:
    print('number is not prime number')
  else:
    print('The number is prime')

In [ ]:
is_prime(5)

The number is prime

In [ ]:
is_prime(4)

number is not prime number

Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.

In [ ]:
def is_100y(year_now):
  name=input ('your name')
  age= input('your age')
  age=int(age)
  year_100=age+100+year_now
  print(name, "will turn 100 year in year of:", year_100)

In [ ]:
is_100y(2020)

your namekhokha
your age49
khokha will turn 100 year in year of: 2169

In [ ]:
import datetime
now = datetime.datetime.now()
nowYear = (now.year)
a=input("Enter your name:")
b=int(input("Enter your age:"))
print("Running year is "+str(nowYear))
future=(nowYear-b)+100
print("After 100 years you will be in the year ",future)

Enter your name:Khu
Enter your age:48
Running year is 2020
After 100 years you will be in the year  2072

In [ ]:
import datetime
year_now=datetime.datetime.now()
now=int(year_now.year)#change time to int
#def is_100y(year_now):
name=input ('your name')
age= input('your age')
age=int(age)
year_100=(now - age) +100

print(name, "will turn 100 year in year of:", year_100)

your namekhk
your age48
khk will turn 100 year in year of: 2072

In [ ]:
_

This is probably by far the most common string manipulation interview question.Given an input string, reverse all the words. To clarify , input: “Interviews are awesome!” output: “ awesome ! are Interviews”. Consider all consecutive non-whitespace characters as individual words. If there are multiple spaces between words reduce them to a single white space. Also remove all leading and trailing whitespaces, so the output for “  CS degree”,”CS   degree”,”CS degree”, or
 “  CS degree  “ are all the same “degree CS”

In [ ]:
def lambda_handler(event, context):
    # TODO implement
    return {
        'statusCode': 200,
        'body': json.dumps('Hello from Lambda!')
    }

Ask the user for a number. Depending on whether the number is even or odd, print out an appropriate message to the user.

Hint: how does an even / odd number react differently when divided by 2?

Extras:

If the number is a multiple of 4, print out a different message.
Ask the user for two numbers: one number to check (call it num) and one number to divide by (check). If check divides evenly into num, tell that to the user. If not, print a different appropriate message.

In [14]:
num=input('enter number')
mod=num % 2
if mod>0:
  print('This number is odd')

else:
  print('This number is even')

enter number4

TypeError: ignored

In [15]:
num = input("Enter a number: ")
mod = num % 2
if mod > 0:
    print("You picked an odd number.")
else:
    print("You picked an even number.")

Enter a number: 4

TypeError: ignored

In [ ]:
4