<a href="https://colab.research.google.com/github/khuloodnasher/HAppy-Coding-Hour/blob/master/Happy_CodingPython_Hour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Suppose you have a list of the folllowing numbers [1,2,3,2,4,3,3,4,2] how you can define a function to get the number of the duplicates

In [ ]:
# Python code to count the number of occurrences 
def countX(lst, x): 
    num = 0
    for ele in lst: 
        if (ele == x): 
            num = num + 1
    return num

In [40]:
#calling the function
num_list= [1,2,3,2,4,3,3,4,2]
x = 2
countX(num_list, x)

3

In [39]:
# Python code to count the number of occurrences 
def countX(lst, x): 
    num = 0
    for ele in lst: 
        if (ele == x): 
            num = num + 1
    return num 
  
# Driver Code 
num_list= [1,2,3,2,4,3,3,4,2]
x = 4
print('{} has occurred {} times'.format(x, countX(num_list, x)))

4 has occurred 2 times

In [56]:
num_list = [1, 2, 2, 3, 4, 3, 4,6,6,3]  


def duplicate(items,a):
	
	return items.count(a)

In [59]:
duplicate(num_list,4)

2

Method 2 (Using Counter())

Counter method returns a dictionary with occurrences of all elements as a 

key-value pair, where key is the element and value is the number of times 

that element has occurred.

In [67]:
from collections import Counter
num_list= [1, 1, 2, 2, 3, 3, 4, 4, 5, 5] 

numoccoured=Counter(num_list)
num=4
print('{} has occoured {} times'.format(num,numoccoured[num]))

4 has occoured 2 times

In [ ]:
from collections import Counter 

# declaring the list 
l = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5] 

# driver program 
x = 3
d = Counter(l) 
print('{} has occurred {} times'.format(x, d[x]))

 Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [30]:
  result=[]
  for num in range(1500,2701):
   
   if (num%5==0) and (num%7==0):
     result.append(str(num))
print (','.join(result))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [18]:
num7(1500)

In [ ]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

 Write a Python program to convert temperatures to and from celsius, fahrenheit.

Let’s see the conversion formulas to convert temperature in degree Celsius to degree Fahrenheit and vice versa.

Celsius = (Fahrenheit – 32) * 5/9

Fahrenheit = (Celsius * 9/5) + 32

In [36]:
# from celsuis to fahrenhite
celsius=float(input('Enter temperature in celsius:'))
fahrenheit = (celsius * 9/5) + 32
print("%.2f celsius is: %.2f Fahrenhite" %(celsius,fahrenheit))

Enter temperature in celsius:73
73.00 celsius is: 163.40 Fahrenhite

In [38]:
# from Fahrenhite to celsius
fahrenheit=float(input('Enter temprature in fahrenheit:'))
celsius = (fahrenheit- 32) * 5/9
print("%.2f Fahrenheit is: %.2f celsius " % (fahrenheit,celsius))

Enter temprature in fahrenheit:100
100.00 Fahrenheit is: 37.78 celsius