<a href="https://colab.research.google.com/github/khuloodnasher/HAppy-Coding-Hour/blob/master/pytthon_for_all_corseraipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=input("enter your name")
print('هلا وغلا', name )

enter your name،اعمخهي
هلا وغلا ،اعمخهي

In [ ]:
#  Write a program to prompt the user for hours and rate per hour using input to compute gross pay. Use 35 hours and a rate of 2.75 per hour to test the program (the pay should be 96.25). You should use input to read a string and float() to convert the string to a number. Do not worry about error checking or bad user data.

hrs = input("Enter Hours:")
rate= input("Enter Rate per hour:")
pay= float(rate)*float(hrs)
print("Pay:",pay)

Enter Hours:35
Enter Rate per hour:2.75
Pay: 96.25

In [ ]:

x=5
if x<10:
	print('Smaller')
if x>20:
	print('Bigger')

print ('Finis')

Smaller
Finis

In [ ]:
x=5
if x==5:
  print (' Equals 5')
if x>= 5:
  print ('Greeater than or euqual 5')
if x<6:print('less than 6')

 Equals 5
Greeater than or euqual 5
less than 6

In [ ]:
18/20

0.9

In [ ]:
0.9*3.8

3.42

In [ ]:
# try/ except same as if elif else but it is used to avoid blocking the sceipt if you are doubt in part of your code
astr='Hello Bob'
try:
  istr=int(astr) # if this wrong it will be skipped and runs the except statment
except:
  istr=-1
print('First', istr)

astr='123'
try:
  istr=int(astr) # since this statment is right it will be run and skipp its except statement
except:
  istr=-1

print('second',istr)

First -1
second 123

In [ ]:
# when use try/except don't include كود مؤكد انه صح مثل طباعة there مع كود مشكوك فيه
astr='Bob'
try:
  print('Hello') # right statment will be run
  istr=int(astr) # wrong statment will not run therefore will exit to except statment
  print('There')

except:
	istr=-1 # line run becuase it is right and will run the next line
print('Done', istr)

Hello
Done -1

In [ ]:
#مثال على استخدام try /except if the input isnumber try statment will run, if not except will run
rawstr=input('Enter a number: ')
try:
	ival=int(rawstr)
except:
	ival=-1
if ival>0:
	print('Nice work')
else:
	print('Not a number')

Enter a number: thirty four
Not a number

In [ ]:
x=5
if x == 6 :
    print('Is 6')
    print('Is Still 6')
    print('Third 6')

Write a program to prompt the user for hours and rate per hour using input to compute gross pay. Pay the hourly rate for the hours up to 40 and 1.5 times the hourly rate for all hours worked above 40 hours. Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75). You should use input to read a string and float() to convert the string to a number. Do not worry about error checking the user input - assume the user types numbers properly.

In [ ]:
hrs = input("Enter Hours:")
rate_per_hour=input('rate per hour')
rate=float(rate_per_hour)# the output of input statment is always string even if user add numeric therfore must be coonverted to flooat
h = float(hrs)
over_time=rate*1.5*(h-40)


if h<=40:
  gross_pay= h*rate
elif h> 40:
  gross_pay=40*rate+over_time

print(gross_pay)

Enter Hours:45
rate per hour10.5
gross pay is: $498.75

In [ ]:

hrs = input("Enter Hours:")
h = float(hrs)
rate_per_hour=input('rate per hour')
rate=float(rate_per_hour)# the output of input statment is always string even if user add numeric therfore must be coonverted to flooat

over_time=rate*1.5*(h-40)


if h<=40:
  gross_pay= h*rate
elif h> 40:
  gross_pay=40*rate+over_time

print(gross_pay)

Write a program to prompt for a score between 0.0 and 1.0. If the score is out of range, print an error. If the score is between 0.0 and 1.0, print a grade using the following table:
Score Grade
>= 0.9 A
>= 0.8 B
>= 0.7 C
>= 0.6 D
< 0.6 F
If the user enters a value out of range, print a suitable error message and exit. For the test, enter a score of 0.85.

In [ ]:
#secoond assignment of week 5
score = input("Enter Score: ")
score = float(score)

if(score<0.0) or (score>1.0) :
  print("error")

if (score >= 0.9) and(score <= 1.0) :
  print("A")
elif (score>=0.8)and  (score<0.9):
  print("B")
elif (score>=0.7) and (score<=0.8):
  print("C")
elif (score>=0.6) and (score<=0.7) :
  print("D")
elif score<0.6:
  print("F")
else:
  print('score oout of range')

Enter Score: 0.85
B

In [ ]:
def stuff():
    print('Hello')
    #return
    print('World')

stuff()

Hello
World

In [ ]:
def addtwo(a, b):
    added = a + b
    return a

x = addtwo(2, 7)
print(x)

2

4.6 Write a program to prompt the user for hours and rate per hour using input to compute gross pay. Pay should be the normal rate for hours up to 40 and time-and-a-half for the hourly rate for all hours worked above 40 hours. Put the logic to do the computation of pay in a function called computepay() and use the function to do the computation. The function should return a value. Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75). You should use input to read a string and float() to convert the string to a number. Do not worry about error checking the user input unless you want to - you can assume the user types numbers properly. Do not name your variable sum or use the sum() function.

In [ ]:
# assignment oof week 6
#this function will not work if input statment aat the begining, 
##3 input statments must be before calling the functions to be used as constant variabless for this function
def computepay(h,r):
  
  if h<=40:
    gross_pay=h*rate_per_hour
  else:
    gross_pay=40*rate_per_hour+(h-40)*1.5*rate_per_hour
  return gross_pay
hours=input("Enter number of hours:")
rate_per_hour=input("rate per houre:")
h=float(hours)
rate_per_hour=float(rate_per_hour)
p=computepay(h,rate_per_hour)
print("Pay", p)

Enter number of hours:45
rate per houre:10.5
Pay 498.75

In [ ]:
def computepay(h, r):
    return 42.37

hrs = input("Enter Hours:")
p = computepay(10, 20)
print("Pay", p)

In [ ]:
def computepay(h,r):
  if h > 40:
    p = 1.5 * r * (h - 40) + (40 *r)
  else:
    p = h * r
  return p

hrs = input("Enter Hours:")
hr = float(hrs)
rphrs = input("Enter rate per hour:")
rphr = float(rphrs)

p = computepay(hr,rphr)
print("Pay",p)

Enter Hours:45
Enter rate per hour:10.5
Pay 498.75

In [ ]:
n=0 
while n>0:
  print('lather')
  print('Rinse')
print('Dry off')

# while statment will not run its command becauese it is never n going to be>0
# therefore the command that is out of its block(the deindrnted) will be the only command run

Dry off

In [ ]:
while True:
  line=input('(>)')
  if line== 'mam':
    break #break statment when it euns it will jump out of the loop, because previous line is trure line=='done' break statement run, next line(print line )
  print('line')# did not execute because break statement is true, therefore exit the while loop and perform the deindented line (print Done)
print('Done')

(>)jjj
line
(>)mam
Done

In [ ]:
# note '>' in the input statment does not mean bigger than it is like place holder for any sting , you can replace it with  anything
# the main thing to understand if the previous line of " continue" is true , it will take us to the code before it
# if the preevious line before "break " is true, it will exit the  while loop and perform the deindented which is print(Done)
while True:
  line= input('>')# if the input any thing other than # it will not run "continue" and will ask for anything to  input, and it will exit while . It will run (print"line")
  if line[0]=='#':# if the input is "#" it will prompt for the previous line which is asking for input
    continue
  if line=='done':#if the input is ==done, it will run the break statment which will make us exit the while loop and perform the deindented "print(Done"
    break
  print('line')# this is inside while loop , it will run if input anything not equal to "#" or 'done'
print('Done')

>hello theree
line
>finisheed
line
># finished
>#
>done
Done

In [ ]:
while True:
	line=input('>')
	if line[0]=="#":
		continue
	if line=='done':
		break
	print(line) # ptint anything was input  whatever it is such hhh mmm 012 as long it is not equal to "#" or "done"
print('Done')

>kkk
kkk
>#
>done
Done

In [ ]:
# as long i in the list print all its elemeents once, then it will exit the loop and run the deindented which is print("blastof")
for i in [5,4,3,2,1]:
	print(i)

print("Blastoff")

5
4
3
2
1
Blastoff

In [ ]:
# for loop is taking every element in the list and will run the next code print(happy ....),once the list finished it will exit the loop and next line 
# deintended will run which is out of for loop print(Done)
# python does not understand the word friend or the word friends we can use any iterator variable iinstead of for and any name for list instead oof friends
friends=['Joseph', 'Glennn', 'Sally']
for friend in friends:
	print('Happy New Year: ', friend)
print('Done')

Happy New Year:  Joseph
Happy New Year:  Glennn
Happy New Year:  Sally
Done

In [ ]:
largest_so_far=-1
print('Before', largest_so_far)
for the_num in [9,41,12,3,74,15]:
  if the_num>largest_so_far:
    largest_so_far= the_num
    print(largest_so_far,the_num)
print('after',largest_so_far)
# at the beginning largest_so_far=-1 and we just did the first code of printing"Before' and largest_so_far which is-1
# the next line is for loop and it haas to check eevery elemnt in the list if it is true to perform the nnext line of coodes
# the first elment is 9>-1 is true thereefore largest_so_far=the_m=9 and the next code will run which is printing the vaalue of 
# largest_so_far, the_num which is 9, 9
# the next element is 41>9 so next codes oof for loop will run which is largest_so_far=the_num=9 aand the print of largest_so_far, the num which is 41 41
# neext element is 12 which maakes the if staatment not run  and its indented block not run thereefore it will go to next element whhichh is3 and it will run the if statment
#then 74>41 so if staatment will run largest_so_far=thee_num and print largest_so_far, the num which is 74 74
# then 15 not >74 so if statment not run and for loop finished all its ieeration, so it will exit out of for loop and perform the deindented of printing aafter
# printing aafter and largest_so_far which is 74

Before -1
9 9
41 41
74 74
after 74

In [ ]:
zrock=0
print('Before',zrock)
for thing in [9,41,12,3,74,15]:
	zrock=zrock+1
	print(zrock,thing)
print('after',zrock)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
after 6

In [ ]:
#countingtotal in for loop
# Summing in a loop

zork=0
print('Before',zork)
for thing in [9,41,12,3,74,15]:
	zork=zork+thing
	print(zork,thing)
print('After',zork)

Before 0
9 9
50 41
62 12
65 3
139 74
154 15
After 154

In [ ]:
# calculating avergaae using for loop
count=0
sum=0
for value in [9,12,41,74,15]:
  count=count+1
  sum=sum+value
  print(count,sum,value)
print("average is: ",sum/count)

1 9 9
2 21 12
3 62 41
4 136 74
5 151 15
average is:  30.2

In [ ]:
found= False
print('Before',found)
for value in[9,41,12,3,74,15]:
	if value ==3:
		found=True
	print(found,value)
print('After',found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

In [ ]:
#Finding Smallest Value
smallest=None#None is type means absent value
print('Before')
for value in [9,41,12,3,74,15]:
	if smallest is None: #is stronger than ‘==’
		smallest= value #python does not understand smallest as smallest thing it can be any word
	elif value <smallest:
		smallest=value
	print(smallest,value)
print('After',smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

In [ ]:
#find the minimum from a given list
#my_list=[ 9,4,80,60,2]
small= None
#def calculate_minimum(num,my_list):
for num in [9,41,12,3,74,15]:
  if small is None:
    small=num
  elif num<small:
    small=num
  print(small,num)
print("smallest number is: ", small)

9 9
9 41
9 12
3 3
3 74
3 15
smallest number is:  3

In [ ]:
#find the minimum from a given list
#my_list=[ 9,4,80,60,2]
#small= None
def calculate_minimum(num,my_list):
  small= None
  for num in my_list:
    if small is None:
      small=num
    elif num<small:
      small=num
  return small
calculate_minimum(num,[9,41,12,3,74,15])

3

In [ ]:
#find the minimum from a given list
#through usinng function and using none as place holder of nothig so we can uuse it to start our iteration
def calculate_minimum(my_list):
  small= None
  for num in my_list:
    if small is None:
      small=num
    elif num<small:
      small=num
  return small
calculate_minimum([9,41,12,3,74,15])

3

In [ ]:
tot = 0 
for i in [5, 4, 3, 2, 1] :
    tot = tot + 1
print(tot)

5

In [ ]:
smallest_so_far = -1
for the_num in [9, 41, 12, 3, 74, 15] :
   if the_num < smallest_so_far :
      smallest_so_far = the_num
print(smallest_so_far)

-1

In [11]:
# write a code to count the average

count=0
total=0
while True:
  value=input('enter number ')
  if value=='done':
    break# will take me out of the loop
  try:
    value=float(value)
    count=count+1
    total=total+value
  except:
   print('invalid entry')# it will make the code runs if badd entry happened
    

print('All Done!')
print('average is: ', total/count)
print(count, total,total/count )

enter number 2
enter number jo
invalid entry
enter number 4
enter number jl
invalid entry
enter number 9
enter number l;
invalid entry
enter number done
All Done!
average is:  5.0
3 15.0 5.0

In [13]:
# write a code to count the average

count=0
total=0
while True:
  value=input('enter number ')
  if value=='done':
    break# will exit to help not make my code run forever
  try:
    value=float(value)
    
  except:
   print('invalid entry')#  except statment good to use incase of bad entry it will skip the bad entry and run the rest of the code
   continue # it will take me to the begining of the loop, continue is indented because it is in the zone of except statment
  count=count+1
  total=total+value 

print('All Done!')
print('average is: ', total/count)
print(count, total,total/count )

enter number 6
enter number 6
enter number jj
invalid entry
enter number 3
enter number doone
invalid entry
enter number done
All Done!
average is:  5.0
3 15.0 5.0

Write a program that repeatedly prompts a user for integer numbers until the user enters 'done'. Once 'done' is entered, print out the largest and smallest of the numbers. If the user enters anything other than a valid number catch it with a try/except and put out an appropriate message and ignore the number. Enter 7, 2, bob, 10, and 4 and match the output below.

In [22]:
smallest=None
largest=None
while True:
  try:
    value=input('enter an integer number: ')
    if value=='done':
      break
  
    ivalue=int(value)
  
    
    if largest is None or ivalue> largest:

      largest=ivalue
    

    elif smallest is None or ivalue< smallest:
      smallest=ivalue
  except:
    print('invalid entry')
     

print(largest, smallest)

enter an integer number: 7
enter an integer number: 2
enter an integer number: bob
invalid entry
enter an integer number: 10
enter an integer number: 4
enter an integer number: done
10 2

In [15]:
while True:
  try:
    num = input("Enter a number: ")
    if num == 'done':
      break
    
    inum = int(num)
    if largest is None or inum > largest:
    	largest = inum
    elif smallest is None or inum < smallest:
        smallest = inum
        
    	
    
  except:
    
    print('Invalid input')
print(largest,smallest)

Enter a number: 7
Enter a number: 2
Enter a number: bob
Invalid input
Enter a number: 10
Enter a number: 4
Enter a number: done
10 2

In [16]:
largest = None
smallest = None

while True:
    try:
        num = input("Enter a number: ")
        if num == 'done':
            break
        n = int(num)
        if largest is None or largest<n:
          largest=n
        elif smallest is None or smallest>n:
          smallest=n
    except:
        print ("Invalid input")
        continue



print ("Maximum number is ", largest)
print ("Minimum number is ", smallest)

Enter a number: 7
Enter a number: 2
Enter a number: bob
Invalid input
Enter a number: 10
Enter a number: 4
Enter a number: done
Maximum number is  10
Minimum number is  2

In [19]:
#largest = None
#smallest = None
while True:
  num = input("Enter a number: ")

  if num == 'done':
    break
  try:
    inum = int(num)
   
    	
    
  except:
    
    print('Invalid input')
    continue
    if inum > largest:
    	largest = inum
    elif inum < smallest:
        smallest = inum
       
print("Maximum is", largest)
print("Minimum is", smallest)

Enter a number: 7
Enter a number: 2
Enter a number: bob
Invalid input
Enter a number: 10
Enter a number: 4
Enter a number: done
Maximum is 10
Minimum is 2

In [24]:
largest = None
smallest = None
while True:
  num = input("Enter a number: ")
  if num == "done":
    break
  try:
    inum=int(num)
    if largest is None or largest<inum:
      largest=inum
    elif smallest is None or smallest>inum:
      smallest= inum
  except:
    print('Invalid input')
    continue    

print("Maximum is ", largest)

print('Minimum is ', smallest)

Enter a number: 7
Enter a number: 2
Enter a number: bob
Invalid input
Enter a number: 10
Enter a number: 4
Enter a number: done
Maximum is  10
Minimum is  2

In [1]:
largest = None
smallest = None
while True:
  num = input("Enter a number: ")
  if num == "done":
    break
  try:
    inum=int(num)
    if largest is None or largest<inum:
      largest=inum
    elif smallest is None or smallest>inum:
      smallest= inum
  except:
    print('Invalid input')
    continue    

print('Maximum is ', largest)

print('Minimum is ', smallest)

Enter a number: 7
Enter a number: 2
Enter a number: bob
Invalid input
Enter a number: 4
Enter a number: 10
Enter a number: done
Maximum is  10
Minimum is  2

In [2]:
fruit='banana'
letter=fruit[1]
print(letter)
x=3
w=fruit[x-1]
print(w)

a
n

In [5]:
#Looking of each letter in a string:

fruit='banana'
index=0
while index<len(fruit):
  letter=fruit[index]
  print(index,letter)
  index+=1

0 b
1 a
2 n
3 a
4 n
5 a

In [6]:
#Looking of each letter in a string:

fruit='banana'
for letter in fruit:
  print(letter)

b
a
n
a
n
a

In [9]:
word= 'banana'
 
count=0
for letter in word:
  if letter=='a':
		  count+=1
  
  
print(count)

3

In [12]:
s='Monty Python'

print(s[0:4]) # lst letter is not included  which is y==4


print(s[6:7])# y in python not included whuch has index of 7

print(s[6:20]) # python index from 6 to 11 , so the wholee word will e includeed
print(s[:2])# printing from beginning to index =2 but not include 2 which is t
print(s[8:]) # print 8 through the end
print(s[:])

Mont
P
Python
Mo
thon
Monty Python